body{
  background-color: black;
  color: aqua;
  font-family: 'Zen Maru Gothic', serif;
  text-align: center;
  padding-top: 4%;
}

.photo {
  width: 100%;
  max-width: 500px;
  height: auto;
  border:1px solid white;
}

.carousel {
display: flex;
justify-content: center;
}

.contains {
width: 100%;
max-width: 500px;
height: auto;
overflow: hidden;
position: relative;
list-style: none;
}

.slide_select {
display: none;
}

.slide {
width: 100%;
max-width: 500px;
height: auto;
position: absolute;
opacity: 0;
}
/* 前へ次へボタン */
.scroll_button {
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  /* 縦中央から20px上の位置 */
  top: 50%;
  margin-top: -20px;
/* 上辺と右辺のみ幅5pxの枠線 */
  border-width: 5px 5px 0 0;
  border-style: solid;
  border-color: #e493fc;
  cursor: pointer;
  /* 普段はボタンはやや薄くする */
  opacity: 0.5;
  /* スライドよりも前面にする */
  z-index: 3;
}
/* ホバー時にボタンを強調 */
.scroll_button:hover {
  opacity: 1;
}
/* 前へボタン */
.scroll_prev {
  left: 15px;
  /* 上辺と右辺の枠線を回転して"＜"にする */
  transform: rotate(-135deg);
}
/* 次へボタン */
.scroll_next {
  right: 15px;
  /* 上辺と右辺の枠線を回転して"＞"にする */
  transform: rotate(45deg);
}
/* スライド移動ボタンエリア */
.move_controler {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
/* スライド移動の各ボタン */
.button_move {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 100%;
  cursor: pointer;
  /* 普段はやや薄くする */
  opacity: 0.5;
  /* スライドより前面にする */
  z-index: 2;
}
/* ホバー時はやや明るくする */
.button_move:hover {
  opacity: 0.75;
}
/* スライド移動ボタンの色 */
.button_move {
  background-color: #e493fc;
}
/* 1番目のスライド選択時 */
/* 1番目のスライドの透明度を0にして表示する */
.slide_select[name="slide_check"]:nth-of-type(1):checked ~ .slide:nth-of-type(1) {
  opacity: 1;
}
/* スライド移動ボタンの1個目を明るくする */
/* （今選択されていることが分かるように） */
.slide_select[name="slide_check"]:nth-of-type(1):checked ~ .move_controler .button_move:nth-of-type(1) {
  opacity: 1;
}
.slide_select[name="slide_check"]:nth-of-type(2):checked ~ .slide:nth-of-type(2) {
  opacity: 1;
}
.slide_select[name="slide_check"]:nth-of-type(2):checked ~ .move_controler .button_move:nth-of-type(2) {
  opacity: 1;
}
.slide_select[name="slide_check"]:nth-of-type(3):checked ~ .slide:nth-of-type(3) {
  opacity: 1;
}
.slide_select[name="slide_check"]:nth-of-type(3):checked ~ .move_controler
  .button_move:nth-of-type(3) {
  opacity: 1;
}

.slide_select[name="slide1_check"]:nth-of-type(1):checked ~ .slide:nth-of-type(1) {
  opacity: 1;
}
.slide_select[name="slide1_check"]:nth-of-type(1):checked ~ .move_controler .button_move:nth-of-type(1) {
  opacity: 1;
}
.slide_select[name="slide1_check"]:nth-of-type(2):checked ~ .slide:nth-of-type(2) {
  opacity: 1;
}
.slide_select[name="slide1_check"]:nth-of-type(2):checked ~ .move_controler .button_move:nth-of-type(2) {
  opacity: 1;
}
.slide_select[name="slide1_check"]:nth-of-type(3):checked ~ .slide:nth-of-type(3) {
  opacity: 1;
}
.slide_select[name="slide1_check"]:nth-of-type(3):checked ~ .move_controler .button_move:nth-of-type(3) {
  opacity: 1;
}


.midasi{
    color: aqua;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
}

.heading {
    font-size: 45px;
}

.About{
    text-align: left;
    padding-inline: 15px;
    font-size: 25px;
}


.icon{
    width: 400px;
    height: 343px;
}
.kadai{
    font-size: 25px;
    color: white;
}

.Skill {
    text-align: left;
    margin-left: 20%;
    font-size: 25px;
  
}

.size2 {
  max-width: 700px;
  width:250%;
  margin:auto;
  /* padding:0px; */
  font-size: 25px;
  text-align: justify;
}

/*========= バー表示のためのCSS ===============*/

/*タイムライン全体の設定*/
.timeline{
  max-width: 400px;
  width:100%;
  margin:50px auto;
  padding:0 30px;
  font-size: 25px;
}

.timeline li{
    /*線の起点とするためrelativeを設定*/
    position: relative;
  list-style: none;
  padding:0 0 20px 0;
}

.timeline dl{
  margin:0 0 20px 3em;
}

.timeline dt{
    font-size: 30px;
}

.timeline dd strong{
  display: block;
  padding:10px 0;
}

/*絶対配置で線を設定*/
.border-line {
    /*線の位置*/
  position: absolute;
  left:0.4em;
  top:0;
  width:2px;/*線の太さ*/
  height:0;/*はじめは高さを0に*/
  background: #ccc;
}

/*タイムラインの見出し横の丸の位置と形状*/
.timeline li::after{
  content:'';
  position: absolute;
  top:0;
  left:0;
  width:10px;
  height: 10px;
  background: aqua;
  border-radius: 50%;
}


/*========= レイアウトのためのCSS ===============*/

header{
  background: #333;
}

h1{
  font-size:1.5rem;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  color: #fff;
}

h2{
  font-size:1.2rem;
  text-align: center;
  margin: 0 0 30px 0;
}

p,ul{
  margin-top:20px;  
}

a{
  color:white;
}

small{
  background:white;
  color:#fff;
  display: block;
  text-align: center;
  padding:20px;
}


section{
  padding:30px;
}
section:first-child{
  padding:30px 30px 0px;
}

section:nth-child(2n){
  background:#f3f3f3; 
}

.size1{
    text-align: left;
    list-style: none;
    margin-left: 27%;
    font-size: 30px;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px blue,
        0 0 82px blue,
        0 0 92px blue,
        0 0 102px blue,
        0 0 151px blue;
    }

    @keyframes pulsate {
        
    100% {

        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px blue,
        0 0 80px blue,
        0 0 90px blue,
        0 0 100px blue,
        0 0 150px blue;
    
    }
    
    0% {

    text-shadow:
    0 0 4px #fff,
    0 0 10px #fff,
    0 0 18px #fff,
    0 0 38px blue,
    0 0 73px blue,
    0 0 80px blue,
    0 0 94px blue,
    0 0 140px blue;

}
}

/* ----ネオン色---- */
.heading{
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #f09,
        0 0 82px #f09,
        0 0 92px #f09,
        0 0 102px #f09,
        0 0 151px #f09;
    }

    @keyframes pulsate {
        
    100% {

        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #f09,
        0 0 80px #f09,
        0 0 90px #f09,
        0 0 100px #f09,
        0 0 150px #f09;
    
    }
    
    0% {

    text-shadow:
    0 0 4px #fff,
    0 0 10px #fff,
    0 0 18px #fff,
    0 0 38px #f09,
    0 0 73px #f09,
    0 0 80px #f09,
    0 0 94px #f09,
    0 0 140px #f09;

}
}
footer {
    background-color: darkgray;
    text-align: center;
    color: white;
    font-size: 14px;
    padding-block: 20px;
}

/* レスポンシブ */

/* スマートフォン用縦(0-480px) */
@media only screen and (max-width: 480px) {
  .photo, .contains, .slide  {
    width: 400px;
    height: 280px;
}

  .About{
    margin-left: 5%;
  }
}

/* スマートフォン用横(481px-670px) */
@media only screen and (min-width: 481px) and (max-width: 670px) {
  .photo, .contains, .slide  {
      width: 500px;
      height: 400px;
  }

}

/* タブレット(671-960px) */
@media only screen and (min-width: 671px) and (max-width: 960px) {
  .photo, .contains, .slide  {
    width: 500px;
    height: 400px;
  }
  .size1{
    margin-right: 27%;
  }
  .Skill{
    margin-right: 20%;
  }
  .About{
    margin-left: 25%;
  }
}

/* ノートPC(961-1280px) */
@media only screen and (min-width: 961px) and (max-width: 1280px) {
  .photo, .contains, .slide {
    width: 500px;
    height: 400px;
  }
  .About{
    margin-left: 37%;
  }
}
/* モニター(1281px以上) */
@media only screen and (min-width: 1281px) {
  .photo, .contains, .slide {
    width: 500px;
    height: 400px;
  }
  
  .About{
    margin-left: 37%;
  }
}
